# Target folder
target/

### IntelliJ IDEA ###
.idea/

### VS Code ###
.vscode/

### Token ###
src/test/resources/token.properties

### Maven ###
.mvn/

### User ###
src/test/resources/user.properties

### Allure ###
.allure/
allure-results/
